<h1>{{name}}</h1>
<p>{{description}}</p>
<small class="greyed-text">{{{commatize likes}}} {{{pluralize likes 'like'}}}</small>
<hr>

{{#if genres}}
<p>Genres: {{{commaString (linkList 'genres' genres false)}}}</p>
{{/if}}

{{#if albums}}
<p>Albums: {{{commaString (linkList 'albums' albums false)}}}</p>
{{/if}}

{{#if members}}
<p>Members:</p>
<ul>
    {{#each members}}
        <li>{{{link 'artists' this.id this.name false}}} {{{timeFrame ../_id this.bands}}}</li>
    {{/each}}
</ul>
{{/if}}
