{{#if bands}}
    <h1>Trending Bands</h1>
    <ul class="no-bullet">
        {{#each bands}}
            <li>
                <h4>{{{link 'bands' this._id this.name false}}}</h4>
                {{#if this.likes}}
                    <small class="greyed-text">{{{commatize this.likes}}} {{{pluralize this.likes 'like'}}}</small>
                {{/if}}
            </li>
        {{/each}}
    </ul>
    <a href="/bands" class="btn btn-primary">Explore Bands</a>
    <hr class="pushed-down">
{{/if}}
{{#if albums}}
    <h1 class="pushed-down">Trending Albums</h1>
    <ul class="no-bullet">
        {{#each albums}}
            <li>
                <h4>{{{link 'albums' this._id this.title false}}}</h4>
                {{#if this.totalStreams}}
                    <small class="left-space greyed-text">{{{commatize this.totalStreams}}} {{{pluralize this.totalStreams 'stream'}}}</small>
                    <span> | </span>
                {{/if}}
                <small class="greyed-text">{{{link 'bands' this.band._id this.band.name true}}}</small>
            </li>
        {{/each}}
    </ul>
    <a href="/albums" class="btn btn-primary">Explore Albums</a>
    <hr class="pushed-down">
{{/if}}
{{#if songs}}
    <h1 class="pushed-down">Trending Songs</h1>
    <ul class="no-bullet">
        {{#each songs}}
            <li>
                <h4>{{{link 'albums' this.album._id this.title false}}}</h4>
                {{#if this.streams}}
                    <small class="greyed-text">{{{commatize this.streams}}} {{{pluralize this.streams 'stream'}}}</small>
                    <span> | </span>
                {{/if}}
                    <small class="greyed-text">{{{link 'albums' this.album._id this.album.title true}}}</small>
            </li>
        {{/each}}
    </ul>
    <a href="/songs" class="btn btn-primary">Explore Songs</a>
    <hr class="pushed-down">
{{/if}}